<div class="pagination">
  <%= params %>
  <ul>
    <li><%= button_to "Previous", path, method: :get,
                      params: {page: (@current_browse_page.to_i - 1).to_s, search: search},
                      class: "btn btn-primary",
                      disabled: @current_browse_page.to_i - 1 < 1 %></li>
    <% ([@current_browse_page.to_i - 3, 0].max .. [@current_browse_page.to_i + 1, @movies["pagesCount"] - 1].min).each do |i|%>
      <li><%= button_to i+1, path, method: :get, params: {page: i + 1, search: search || nil}, class: "btn btn-primary #{i+1 == @current_browse_page.to_i ? "active" : ""}"%></li>
    <% end %>
    <li><%= button_to "Next", path, method: :get,
                      params: {page: (@current_browse_page.to_i + 1).to_s, search: search},
                      class: "btn btn-primary",
                      disabled: (@current_browse_page.to_i + 1) > @movies["pagesCount"]%></li>
  </ul>
</div>