<% provide(:title, "Browse") %>
<div class="container">
  <form class="header__content">
    <input type="text" class="header__search" placeholder="Поиск" />
  </form>
  <div class="movies"></div>
</div>

